h1 {
  text-align: center;
}
.container .content {
  max-width: 740px;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
}
.coin-rank {
  margin: 0.5rem 0;
}
.rank-btn {
  border: 1px solid #00c897;
  padding: 0.2rem;
  box-shadow: 0px 0px 8px #00c897;
  border-radius: 8px;
  background-color: #00c897;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info .coin-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.info .coin-heading img {
  margin: 5px;
}
.info .coin-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.info .coin-price h3 {
  font-weight: bold;
}

.info p {
  padding-right: 1rem;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}
.stats .row {
  display: flex;
  border-bottom: 1px solid #00c897;
  margin: 0.6rem 0;
  padding-bottom: 0.5rem;
}
