@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
body {
  background-color: #14161a;
  color:white;
  min-height: 100vh;
}

/* still working on styling button onClick  */

.btn:hover {
  background: #019267;
  outline: none;
}
.btn {
  background: #00C897 ;
  border: none;
  outline: none;
  --bs-btn-active-bg: #019267;
}

.Brand {
  font-weight: 500;
}
.Select {
  cursor: pointer;
}

.Col-1 {
  padding-bottom: 110px;

}
.Heading1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(157, 155, 153);
  padding-top: 120px;
}

.Heading2 {
  font-size: 20px;
  line-height: 1.4;
  color: rgb(157, 155, 153);
  font-weight: 700;
  margin-bottom: 32px;
}

.input-1 {
  background-color: #14161a;
  width: 80% !important;
  padding: 10px;
}

.submit-btn {
  margin-top: 20px;
  padding: 15px;
}
.img-1 {
  padding: 150px 0 0 90px;
  cursor: pointer;
  width: 400px;
}
.text-center {
  color: rgb(157, 155, 153);
  font-size: 30px;
  font-weight:700;
  padding: 30px;
}
.text-center-2 {
  margin-bottom: 30px;
  
}
.tab {
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .hide-mobile {
      display: none;
  }
}

@media screen and (max-width: 720px) {
  .img-1 {
      padding: 0;
      width: 250px;
  }
}

@media screen and (max-width: 720px) {
  .Col-1 {
      padding-bottom: 70px;
  }
}
